<%- include('partials/header.ejs') %> 

<%- include('partials/navbar.ejs') %> 
<div class="container">
  <div class="question text-center">
    <hr>
    <h1><%= question.title %></h1>
    <p><%= question.description %></p>
    <hr>
  </div>
</div>

<%- include('partials/footer.ejs') %> 