<%- include('partials/header.ejs') %> 

<%- include('partials/navbar.ejs') %> 
<div class="container">
  <div class="question text-center">
    <hr>
    <h1><%= question.title %></h1>
    <p><%= question.description %></p>
    <hr>
  </div>

  <form method="post" action="/response/answer">
    <label for="body">Sua resposta:</label>
    <textarea placeholder="Digite sua resposta" class="form-control" name="body" id="body"></textarea>
    <input type="hidden" name="question_id" value="<%= question.id %>">
    <button type="submit" class="btn btn-primary my-3">Responder</button>
  </form>
  <hr>
  <h3>Respostas</h3>
  <% responses.forEach(response => { %>
   <div class="card my-4">
     <div class="card-body">
      <p><%= response.body %></p> 
     </div>
   </div>
  <% }) %>
</div>

<%- include('partials/footer.ejs') %> 